/* ReviewList.css */

.review-list-container {
    /* margin: 80px auto; */
    padding: 10px;
  }
  
  .review-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0;
    display: flex;
    gap: 40px;
  }
  
  .review-item:last-child {
    border-bottom: none;
  }
  
  .review-item h3 {
    margin: 0 0 10px;
    color: #ffffff;
    font-size: 20px;
  }
  
  .review-item p {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 5px;
  }
  