#tab{
    width:1200px;
    height:200px;
    background-color: chocolate;
}

#tab-btn{
    width:100%;
    height: 50px;
    background-color: darkcyan;
}
#tab-btn>button{
    width:100px;
    height:40px;
    background-color: darkseagreen;
}
#tab-content{
    width:100%;
    height: 150px;
    background-color: darkgray;
}
#tab-content>div{
    width:100%;
    height:100%;
}
#notice{
    background-color: lightblue;
}
#gallery{
    background-color: lightgreen;
}
