.movie-category {
  text-align: left;
    margin: 20px 70px;
    overflow: hidden;
    font-size: 20px;
    margin-top: 60px;
  }

  
  .movie-category__list3 {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;   
    margin-top: 65px;
  }
  
  .movie-card3 {
    min-width: 200px;
    margin-right: 10px;
    background-color: #222;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    color: white;
    padding: 10px;
  }
  
  .movie-poster3 {
    width: 200px;
    height: 300px;
  }

  .movie3{
    text-decoration-line: none;
  }
  .Listmovietitle{
    color: white;
    font-size: 20px;
  }