#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    background-color: #000000;
}

.header-title{
    text-decoration-line: none;
    color: white;
    font-size: 25px;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-left .movie1 {
    margin-left: 50px;
    margin-top: 25px;
    text-decoration-line: none;
    font-size: 20px;
    color: white;
}

.movie1:after{
      position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.movie1:hover:after, .movie1:focus:after{
    height: 5px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.login{
    text-decoration-line: none;
    font-size: 30px;
    color: white;
    margin-right: 20px;
}

/* 검색창 */

.search-box {
    height: 30px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid #ffffff;
    margin-right: 50px; 
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px 20px;
    color: #797979;
    font-size:20px;
    width: 200px;
    margin-top: -3px;
}

.search-btn{
    border: none;
    background-color: white;
    
}

.search-img{
    height: 30px;
    width: 30px;
}


/* 클래스명이 SMN_effect-3인 요소 안의 a 태그에만 hover 효과 */
.SMN_effect-3 > a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  content: '';
  opacity: 0;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-10px);
}

.SMN_effect-3 > a:hover::after,
.SMN_effect-3 > a:focus::after {
  height: 5px;
  opacity: 1;
  transform: translateY(0px);
}

/* 필수: 위치 기준 설정 */
.SMN_effect-3 {
  position: relative;
  display: inline-block;
}
